body {
  margin: 0%;
  padding: 0%;
  background-color: #fff2e8;
}
.headerimg {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}
.imageone {
  width: 71%;
}
.imgsecond {
  width: 35%;
  margin-left: 65%;
}
.navs{
    display: flex;
    justify-content: space-between;
    background-color: #ffd8bf;
    padding: 1%;
}
.navsside{
    display: flex;
    gap: 8px;
}
a {
    text-decoration: none;
    font-size: small;
    color: black;
  }
.line{
    display: flex;
    margin-top: 2%;
    width: 26.9rem;
    height: 8px;
    background-color: #871400;
}